.navbar {
  height: 60px;
  background-color: var(--blue-primary);
  display: flex;
  align-items: center;

  .content {
    display: flex;
    width: 100%;

    h1 {
      cursor: pointer;
      margin: 0;
      display: flex;
    }

    .title {
      margin: 0;
      padding: 0 8px;
      text-transform: uppercase;
      border-bottom: 2px solid;
    }

    .title::first-letter {
      color: var(--text-secondary);
    }

    :last-child {
      margin-left: auto;
    }

    .dark-mode-icon {
      cursor: pointer;
      margin-right: 20px;
      padding-top: 6px;
    }
  }
}
