/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 16px;
  font-family: "Opens Sans";

  // Color variables

  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --blue-primary: #1c68c0;
  --blue-secondary: #67d3f3;
  --blue-navy: #00308f;
  --green-primary: #0f6567;
}

body {
  color: black;
  background-color: #ffff;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}
