<div class="card">
  <p class="title">{{ cardTitle }}</p>
  <div class="icon">
    <app-hand-shake-icon
      *ngIf="cardTitle === 'Comprometimento'"
    ></app-hand-shake-icon>
    <app-comments-icon *ngIf="cardTitle === 'Comunicação'"></app-comments-icon>
    <app-crown-icon *ngIf="cardTitle === 'Senso de Dono'"></app-crown-icon>
    <app-puzzle-icon *ngIf="cardTitle === 'Curiosidade'"></app-puzzle-icon>
    <app-team-icon *ngIf="cardTitle === 'Espírito de Equipe'"></app-team-icon>
    <app-hand-fist-icon *ngIf="cardTitle === 'Autonomia'"></app-hand-fist-icon>
  </div>
</div>
